html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
  }
  
  body {
    background: linear-gradient(to bottom right,  rgba(145, 189, 35, 0.241));
    color: #F1F5F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 100%;
  }
  
  #page {
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  
  #header {
    background-image: url(../images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 122px;
    margin: 25px 0 0 0;
    padding: 63px 30px 0 30px;
  }
  
  #header h1, #header h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #header h2 {
    font-size: 15px;
    margin: 10px 0 0 0;
  }
  
  #bar {
    background-image: url(../images/bar.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 53px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    max-width: 750px;
  }
  
  #bar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 74px;
    text-align: center;
  }
  
  #bar ul li,
  #bar ul li a,
  #bar ul li a:visited {
    color: #26476e;
    display: inline;
    height: 30px;
    line-height: 65px;
    margin: 0;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
  }
  
  #bar ul li a:hover {
    color: #000000;
    text-decoration: underline;
  }
  
  .contentTitle {
    background-image: url(tab_back.png);
    background-repeat: no-repeat;
    height: 44px;
    margin: 20px auto 0 auto;
    max-width: 700px;
    padding: 0;
    width: 100%;
  }
  
  .contentTitle h1 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 auto;
    padding: 8px 0 0 21px;
    text-align: left;
  }
  
  .contentText {
    color: #5100ff;
    font-size: 13px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 680px;
    padding: 0 30px;
    text-align: justify;
  }
  
  a {
    color: #f1f3f8;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom: 1px dotted #f1f3f8;
  }
  
  #footer {
    color: #223f8d;
    font-size: 9px;
    height: 20px;
    margin: 0 auto
  }